body {
  margin: 0;
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.id-card {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 50%;
  margin-top: 4px;
}

.idcard-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
}

.idcard-info p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.greetings {
  font-size: 1.1em;
  border: 1px solid black;
  padding: 3px;
}

.random {
  font-size: 1.1em;
  border: 1px solid black;
  padding: 3px;
}

.cardContainer {
  display: flex;
}

.credit-card {
  width: 350px;
  border-radius: 15px;
  padding: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

.credit-card img {
  height: 25px;
  margin-left: 17em;
}

.card-number {
  width: 100%;
  font-size: 25px;
  letter-spacing: 3px;
  text-align: center;
}

.name {
  margin-top: 0;
}
